@charset "utf-8";

 /* use min-width to define styles that apply for screen widths greater than given width */
@media screen and (min-width: 660px) {
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
 }
 /* use max-width to define styles that apply for screen widths lower than given width */
 @media screen and (max-width: 660px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
 }
 
header {
	padding: flex;
	width: 98%;
	margin-top: 50px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: auto;
}

nav {
	float: right;
	margin-top: 8px;
}
nav a {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
}
.navbar{
	display: flex;
	gap: 30px;   /* space between items */
}
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-image: url("../gallery/bg_image.png");
	background-size: cover;
	background-attachment: fixed;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

h1 {
	margin-top: 0px;
	color: #54210F;
	font-size: 30px;
}
h2 {
	margin-top: 30px;
	margin-bottom: 5px;
	color: #54210F;
	font-size: 24px;
}
h3 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-style: italic;
	font-weight: 400;
}
p {
	margin-top: 0px;
	margin-bottom: 10px;
}
a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: gray;
}

#page-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	padding: 20px;
	width: 80%;          /* or 1000px */
	margin: 0 auto;      /* centers it */
}


#main-copy img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 15px;
}
#main-copy video{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 15px;
}


footer {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	float: left;
}



/*Contact Us*/

.form-position {
	position: relative;
	z-index: 100;
}

.form-style {
	max-width: 350px;
    margin: auto; /* Center the form */
    padding: 30px;
    background-color: #536018;
    border-radius: 19px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


